<h1>{{title}}</h1>

<form [formGroup]='MessageForm' (ngSubmit)="onSave()">
  <table>
    <tr>
      <th id="form1">
        <h2>Message</h2>
      </th>
    </tr>
    <tr>
      <td><label for="Username">Username</label></td>
      <td><input type="text" name='Username' formControlName='Username'></td>
    </tr>
    <tr>
      <td><label for="Subject">Subject</label></td>
      <td><input type="text" name='Subject' formControlName='Subject'></td>
    </tr>
    <tr>
      <td><label for="Body">Body</label></td>
      <td><textarea name="Body" formControlName="Body" cols="30" rows="10"></textarea></td>
    </tr>
    <tr>
      <button>Save</button>
    </tr>

  </table>
</form>